<%- include('partials/dash/head'); %>

    <body>
        <div class="container-fluid height-auto">
            <div class="row">
                <div class="col-2 py sidebar">
                    <div class="my-3 text-center">
                        <a href="/dashboard"><img src="/images/dashboard/yaynay_logo.png" alt="yay or nay logo"></a>
                    </div>
                    <!-- Add new Category Partial -->
                    <%- include('partials/dash/addNewCategory'); %>
                </div>
                <div class="mt-3">
                    <!-- Header Partial -->
                    <%- include('partials/dash/sidebar-nav'); %>
                </div>
            </div>
            <div class="col marg-pad-0 main-content">
                <%- include('partials/dash/header'); %>

                    <section class="container-fluid my-4">
                        <div class="card p-4 rounded">
                            <div class="  dflex d-flex justify-content-between">
                                <div>
                                    <h4>How do you get started?</h4>
                                    <ul>
                                        <li> Create a poll by clicking on the + button on the side panel. </li>
                                        <li> Enter a poll topic and click on the "Add New Category".</li>
                                        <li> The team can now add suggestions to be put up for vote. </li>
                                        <li> Select the "Put Up for Vote" to add to the voting section.</li>
                                        <li> Click on "Start a New Vote" and the time you want the vote to run</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
            </div>
        </div>
        </div>
        <!-- Bootstrap Required JS and jQuery Scripts -->
        <%- include('partials/dash/all_scripts'); %>
    </body>