<%- include('partials/dash/head'); %>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 py sidebar">
                    <!-- Add new Category Partial -->
                    <%- include('partials/dash/addNewCategory'); %>
                </div>
                <div class="mt-3">
                    <!-- Header Partial -->
                    <%- include('partials/dash/sidebar-nav'); %>
                </div>
            </div>
            <div class="col-10 marg-pad-0 ">
                <%- include('partials/dash/header'); %>

                    <section class="container-fluid my-4">
                        <div class="bg-color-box p-4 border rounded">
                            <div class="  dflex d-flex justify-content-between">
                                <div>
                                    <h4>How do you get started?</h4>
                                    <ul>
                                        <li> Create </li>
                                        <li> Launch </li>
                                        <li> Results </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
            </div>
        </div>
        </div>
        <!-- Bootstrap Required JS and jQuery Scripts -->
        <%- include('partials/dash/all_scripts'); %>
    </body>